## Invalid Tweets Leetcode Task5

In [1]:
import pandas as pd
import numpy as np

In [37]:
data = [[1, 'Vote for Biden'], [2, 'Let us make America great again!']]
Tweets = pd.DataFrame(data, columns=['tweet_id', 'content']).astype({'tweet_id':'Int64', 'content':'object'})

In [38]:
Tweets

   tweet_id                           content
0         1                    Vote for Biden
1         2  Let us make America great again!

In [39]:
Tweets=Tweets[Tweets['content'].str.len()>15]
Tweets

   tweet_id                           content
1         2  Let us make America great again!

In [42]:
output=pd.DataFrame(Tweets['tweet_id'],columns=['tweet_id'])
output

   tweet_id
1         2