##  Actors and Directors Who Cooperated At Least Three Times Leetcode Task26

In [47]:
import pandas as pd
import numpy as np

In [54]:
data = [[1, 1, 0], [1, 1, 1], [1, 1, 2], [1, 2, 3], [1, 2, 4], [2, 1, 5], [2, 1, 6]]
ActorDirector = pd.DataFrame(data, columns=['actor_id', 'director_id', 'timestamp']).astype({'actor_id':'int64', 'director_id':'int64', 'timestamp':'int64'})

In [50]:
ActorDirector

   actor_id  director_id  timestamp
0         1            1          0
1         1            1          1
2         1            1          2
3         1            2          3
4         1            2          4
5         2            1          5
6         2            1          6

In [55]:
ActorDirector=ActorDirector.groupby(['actor_id', 'director_id']).size().reset_index(name='cooperations')
ActorDirector=ActorDirector[ActorDirector['cooperations']>=3]
ActorDirector=ActorDirector[['actor_id','director_id']]
ActorDirector

   actor_id  director_id
0         1            1