##  Customer Placing the Largest Number of Orders Leetcode Task23

In [27]:
import pandas as pd
import numpy as np

In [107]:
data = [[1, 1], [2, 2], [3, 3], [4, 3]]
orders = pd.DataFrame(data, columns=['order_number', 'customer_number']).astype({'order_number':'Int64', 'customer_number':'Int64'})

In [109]:
order_counts = orders['customer_number'].value_counts()

In [110]:
sorted_counts = order_counts.sort_values(ascending=False)
customer_with_max_orders = sorted_counts.index[0]

In [111]:
pd.DataFrame({'customer_number': [customer_with_max_orders]})

   customer_number
0                3