## Fix Names in a Table Leetcode Task7

In [2]:
import pandas as pd
import numpy as np

In [19]:
data = [[1, 'aLice'], [2, 'bOB']]
Users = pd.DataFrame(data, columns=['user_id', 'name']).astype({'user_id':'Int64', 'name':'object'})

In [20]:
Users

   user_id   name
0        1  aLice
1        2    bOB

In [25]:
Users['name']=Users['name'].str.lower()
Users['name']=Users['name'].str.capitalize()
Users=Users.sort_values(by='user_id')

In [26]:
Users

   user_id   name
0        1  Alice
1        2    Bob