##  Immediate Food Delivery I Leetcode Task17

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = [[1, 1, '2019-08-01', '2019-08-02'], [2, 5, '2019-08-02', '2019-08-02'], [3, 1, '2019-08-11', '2019-08-11'], [4, 3, '2019-08-24', '2019-08-26'], [5, 4, '2019-08-21', '2019-08-22'], [6, 2, '2019-08-11', '2019-08-13']]
Delivery = pd.DataFrame(data, columns=['delivery_id', 'customer_id', 'order_date', 'customer_pref_delivery_date']).astype({'delivery_id':'Int64', 'customer_id':'Int64', 'order_date':'datetime64[ns]', 'customer_pref_delivery_date':'datetime64[ns]'})

In [5]:
Delivery

   delivery_id  customer_id order_date customer_pref_delivery_date
0            1            1 2019-08-01                  2019-08-02
1            2            5 2019-08-02                  2019-08-02
2            3            1 2019-08-11                  2019-08-11
3            4            3 2019-08-24                  2019-08-26
4            5            4 2019-08-21                  2019-08-22
5            6            2 2019-08-11                  2019-08-13

In [6]:
total_num=len(Delivery)
total_num

6

In [7]:
Delivery=Delivery[Delivery['order_date']==Delivery['customer_pref_delivery_date']]
Delivery

   delivery_id  customer_id order_date customer_pref_delivery_date
1            2            5 2019-08-02                  2019-08-02
2            3            1 2019-08-11                  2019-08-11

In [16]:
pd.DataFrame({'immediate_percentage':[round((len(Delivery) / total_num) * 100,2)]})

   immediate_percentage
0                 33.33