##  The Number of Rich Customers Leetcode Task16

In [2]:
import pandas as pd
import numpy as np

In [13]:
data = [[6, 1, 549], [8, 1, 834], [4, 2, 394], [11, 3, 657], [13, 3, 257]]
Store = pd.DataFrame(data, columns=['bill_id', 'customer_id', 'amount']).astype({'bill_id':'int64', 'customer_id':'int64', 'amount':'int64'})

In [5]:
Store

   bill_id  customer_id  amount
0        6            1     549
1        8            1     834
2        4            2     394
3       11            3     657
4       13            3     257

In [14]:
Store=Store.groupby('customer_id')['amount'].apply(lambda x: (x > 500).any()).sum()
Store

2

In [16]:
pd.DataFrame({'rich_count':[Store]})

   rich_count
0           2