## Customers Who Never Order Leetcode Task3

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = [[1, 'Joe'], [2, 'Henry'], [3, 'Sam'], [4, 'Max']]
Customers = pd.DataFrame(data, columns=['id', 'name']).astype({'id':'Int64', 'name':'object'})
data = [[1, 3], [2, 1]]
Orders = pd.DataFrame(data, columns=['id', 'customerId']).astype({'id':'Int64', 'customerId':'Int64'})

In [3]:
Customers

   id   name
0   1    Joe
1   2  Henry
2   3    Sam
3   4    Max

In [5]:
Orders

   id  customerId
0   1           3
1   2           1

In [9]:
s1=set(Customers['id'])
s2=set(Orders['customerId'])
s1,s2

({1, 2, 3, 4}, {1, 3})

In [24]:
customer_ids_to_check=s1.difference(s2)
customer_ids_to_check=list(customer_ids_to_check)
customer_ids_to_check

[2, 4]

In [26]:
customer_names = []

# Iterate through the list of customer IDs
for customer_id in customer_ids_to_check:
    # Check if the customer ID exists in the DataFrame
    if customer_id in Customers['id'].values:
        # Retrieve the customer's name and add it to the list
        customer_name = Customers.loc[Customers['id'] == customer_id, 'name'].values[0]
        customer_names.append(customer_name)
        
customer_names

['Henry', 'Max']

In [31]:
ans=pd.DataFrame(customer_names , columns=['name'])
ans

    name
0  Henry
1    Max