## Recyclable and Low Fat Products Leetcode Task2

In [36]:
import pandas as pd
import numpy as np

In [37]:
data = [['0', 'Y', 'N'], ['1', 'Y', 'Y'], ['2', 'N', 'Y'], ['3', 'Y', 'Y'], ['4', 'N', 'N']]
Products = pd.DataFrame(data, columns=['product_id', 'low_fats', 'recyclable']).astype({'product_id':'int64', 'low_fats':'category', 'recyclable':'category'})

In [38]:
Products

   product_id low_fats recyclable
0           0        Y          N
1           1        Y          Y
2           2        N          Y
3           3        Y          Y
4           4        N          N

In [42]:
(Products['low_fats']==Products['recyclable']) & (Products['low_fats']=='Y')

0    False
1     True
2    False
3     True
4    False
dtype: bool

In [43]:
Products=Products[(Products['low_fats']==Products['recyclable']) & (Products['low_fats']=='Y')]
Products

   product_id low_fats recyclable
1           1        Y          Y
3           3        Y          Y

In [49]:
Products=Products[['product_id']]
Products

   product_id
1           1
3           3