## Delete Duplicate Emails Leetcode Task14

In [3]:
import pandas as pd
import numpy as np

In [70]:
data = [[1, 'john@example.com'], [2, 'bob@example.com'], [3, 'john@example.com']]
Person = pd.DataFrame(data, columns=['id', 'email']).astype({'id':'int64', 'email':'object'})

In [71]:
Person

   id             email
0   1  john@example.com
1   2   bob@example.com
2   3  john@example.com

In [72]:
Person.sort_values(by='id', inplace=True)

In [73]:
Person.drop_duplicates(subset=['email'] ,keep='first' , inplace=True )
Person

   id             email
0   1  john@example.com
1   2   bob@example.com