##  Game Play Analysis I Table Leetcode Task20

In [2]:
import pandas as pd
import numpy as np

In [26]:
data = [[1, 2, '2016-03-01', 5], [1, 2, '2016-05-02', 6], [2, 3, '2017-06-25', 1], [3, 1, '2016-03-02', 0], [3, 4, '2018-07-03', 5]]
Activity = pd.DataFrame(data, columns=['player_id', 'device_id', 'event_date', 'games_played']).astype({'player_id':'Int64', 'device_id':'Int64', 'event_date':'datetime64[ns]', 'games_played':'Int64'})

In [28]:
Activity

   player_id  device_id event_date  games_played
0          1          2 2016-03-01             5
1          1          2 2016-05-02             6
2          2          3 2017-06-25             1
3          3          1 2016-03-02             0
4          3          4 2018-07-03             5

In [29]:
Activity=Activity[['player_id','event_date']]
Activity

   player_id event_date
0          1 2016-03-01
1          1 2016-05-02
2          2 2017-06-25
3          3 2016-03-02
4          3 2018-07-03

In [32]:
Activity=Activity.groupby('player_id').min().reset_index()
Activity.rename(columns={'event_date':'first_login'} , inplace=True)
Activity

   player_id first_login
0          1  2016-03-01
1          2  2017-06-25
2          3  2016-03-02